<div class="row">
  <div class="panel ">
    <div>
      <label>Name</label>
      {{input type="name" value=name class="form-control"}}
    </div>
    <div>
      <h1>{{content.name}}</h1>
      {{input type="hidden" name=group_id value=content.id}}
      <label>City</label>
      {{input value=city class="form-control"}}
      <label>State</label>
      {{input value=state class="form-control"}}
      <label>leave</label>
      {{input type="datetime-local" value=departure_time class="form-control"}}
      <label>return</label>
      {{input type="datetime-local" value=return_time class="form-control"}}
    </div>
  </div>
  <button class="medium button primary" {{action 'saveTrip'}}>Create Trip</button>
</div>