{{render 'navigation'}}
<br>
<div class="row">
  <div>
    {{name}}
    {{description}}
  </div>

  <div class="panel ">
    <div class="">
      <label>Name</label>
      {{input type="name" value=name class="form-control"}}
    </div>
    <div class="">
      <label>Description</label>
      {{textarea value=description class="form-control"}}
      <label>id</label>
      {{input value=id class="form-control"}}
    </div>
  </div>
  <button class="medium button primary" {{action 'saveGroup'}}>Create Group</button>
</div>