<div class="row">
  <h3>{{name}}</h3><br>

  <div class="large-3 columns text-center">
    <div class="panel">
    <h3>Trips</h3><hr><br>
      <ul>
        {{#each trip in trips}}
          <li>{{#link-to 'trip' trip}}{{trip.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="large-6 columns">
    {{outlet}}
  </div>

  <div class="large-3 columns">
    <div class="panel">
      <ul>
        {{#each user in users}}
          <li>{{user.first_name}}  {{user.last_name}} </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>