<div class="row text-center">
    <h2>{{#link-to 'trip' this}}{{name}}{{/link-to}}</h2>
    <h2>Back: {{#link-to 'group' group}}{{group.name}}{{/link-to}}</h2>
    <p>{{location}}</p>
    <tbody>
      <td><strong>Leave date:</strong> {{departure_time}}</td>
      <td><strong>Return date:</strong> {{return_time}}</td>
    </tbody><br>
    <h4>RSVP: YES NO MAYBE</h4>
</div>