{{render 'navigation'}}

<br><div class="row">
  <div class="panel">
    <h2 class="trip-title">{{#link-to 'trip' this}}{{name}}{{/link-to}}</h2><hr/><br>
    <div class="row">
      <div class="large-6 columns text-center">
        <p><strong>Where:</strong> {{location}}</p>
        <p>{{#link-to 'group' group}}Back to {{group.name}}{{/link-to}}</p>
      </div>
      <div class="large-6 columns">
        <tbody>
          <td><strong>Leave date:</strong> {{departure_time}}</td>
          <td><strong>Return date:</strong> {{return_time}}</td>
        </tbody>
        <br/><p>RSVP: YES NO MAYBE</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns ">
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      <blockquote class="twitter-tweet"><p>Guido van Rossum on finding his way&#10;The Python creator n Dropbox engineer reflects on his early days in programming&#10;<a href="https://t.co/tNJ6iYXTTI"> &rarr;Link</a></p>&mdash; Chase van Hekken (@ChasevH) <a href="https://twitter.com/ChasevH/status/512788185143709696">September 19, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <blockquote class="twitter-tweet"><p>Guido van Rossum on finding his way&#10;The Python creator n Dropbox engineer reflects on his early days in programming&#10;<a href="https://t.co/tNJ6iYXTTI">&rarr;Link</a></p>&mdash; Chase van Hekken (@ChasevH) <a href="https://twitter.com/ChasevH/status/512788185143709696">September 19, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <blockquote class="twitter-tweet"><p>Guido van Rossum on finding his way&#10;The Python creator n Dropbox engineer reflects on his early days in programming&#10;<a href="https://t.co/tNJ6iYXTTI">&rarr;Link</a></p>&mdash; Chase van Hekken (@ChasevH) <a href="https://twitter.com/ChasevH/status/512788185143709696">September 19, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div class="large-7 columns text-center panel">
    <p><img src="http://www.enthuzed.com/wp-content/uploads/2012/03/killington_gaper_day_enthuzed.jpg"/>
    this is description</p>
  </div>
</div>
<hr/>