{{render 'navigation'}}

<br><div class="row">
  <div class="panel">
    <h2 class="trip-title">{{#link-to 'trip' this}}{{name}}{{/link-to}}</h2><hr/><br>
    <div class="row">
      <div class="large-6 columns text-center">
        <p><strong>Where:</strong> {{location}}</p>
        <p>{{#link-to 'group' group}}Back to {{group.name}}{{/link-to}}</p>
      </div>
      <div class="large-6 columns">
        <tbody>
          <td><strong>Leave date:</strong> {{departure_time}}</td>
          <td><strong>Return date:</strong> {{return_time}}</td>
        </tbody>
        <br/><p>RSVP: YES NO MAYBE</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns ">
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
     {{#each tweet in tweets}}
        <blockquote class="twitter-tweet">
          <p>
            {{tweet.text}}
            <a href="https://t.co/tNJ6iYXTTI"> &rarr;Link</a>
          </p>
            &mdash;{{tweet.user_name}}
              <a href="https://twitter.com/ChasevH/status/512788185143709696">{{tweet.twitter_time}}
            </a>
          </blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      {{/each}}

    </div>
  </div>

  <div class="large-7 columns text-center panel">
  {{#each instagram in instagrams}}
    <img {{bind-attr src=instagram.image_url}}/>
    <img {{bind-attr src=instagram.profile_pic}}/>
    <h1>{{instagram.user_name}}</h1>
  {{/each}}
  </div>

</div>
<hr/>
