<div class="row">
  <div class="small-4 columns small-offset-4">
    {{#each user in model}}
      <div class='user'>
        <p>{{user.id}}</p>
        <p>{{user.twitter_name}}</p>
        <p>{{user.insta_name}}</p>
        <p>{{user.email}}</p>

        {{#each group in 'user.groups' }}
          <p>{{group.name}}</p>

          {{#each trip in 'group.trips'}}
            <p>{{trip.name}}</p>

            {{#each rsvps in 'trip.rsvps'}}
              <p>{{rsvps.status}}</p>
            {{/each}}
          {{/each}}
        {{/each}}

      </div>
    {{/each}}
  </div>
</div>
