{{render 'navigation'}}

<h1>hi</h1>

<br><div class="row panel">
  <div class="large-3 columns">
    <p>{{first_name}} {{last_name}}</p>
    <p>{{email}}</p>
    <p>{{twitter_name}}</p>
    <p>{{insta_name}}</p>
    {{#link-to 'groups.new' class="medium button primary"}}New Group{{/link-to}}
  </div>
  <div class="large-9 columns">

  </div>
</div>

<div class="row">
  {{#each group in groups}}
    <div class="large-4 columns panel">
      <h4>{{#link-to 'group' group}}{{group.name}}{{/link-to}}</h4>
      <p>{{group.description}}</p>
    </div>
  {{/each}}
</div>
